<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="style.css">
        <title>Vue App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body class="container">
      <div class="container" id="app">
        <nav class="navbar navbar-light fixed-top">
          <div class="navbar-text ms-auto d-flex">
            <button class="btn btn-sm btn-outline-success" @click="sliderStatus=!sliderStatus">$</button>
          <div class="ms-2" v-if="cart.length>0">
            <b> cart: {{cart.length}}</b>
            <span class="badge badge-success"> {{cart.length}}   </span>
          
          </div>
          </div>
        </nav>

        <h1>My Shop</h1>

        <transition name="fade">
          <div v-if="sliderStatus"> 
            <div class="d-flex align-items-center" v-if="sliderStatus">
              <label :class="['font-weight-bold', 'mr-2']" for="formMax">max</label>
              <input type="text" id="formMax" class="form-control w-25" v-model="maximum">
              <input type="range" class="custom-range" min="0" max="200" v-model="maximum">
            </div>
          </div>
        </transition>
        <div class="row d-flex mb-3 align-items-center"
          v-for="item in products"
          v-if="item.price<=Number(maximum)">
          <div class="col-1 m-auto">
            <button class="btn btn-info" @click="addItem(item)">+</button>
          </div>
          <div class="col-4">
            <img class="img-fluid d-block" :src="item.image" :alt="item.name">
          </div>
          
          <div class="col">
            <h3 class="text-info">{{ item.name }}</h3>
            <p class="mb-0">{{item.description}}</p>
            <div class="h5 float-right">${{Number(item.price)}}</div>
          </div>
        </div> 
      </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <!-- <script src="https://unpkg.com/vue@3.0.7/dist/vue.global.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>
